@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  border: 2px solid transparent; /* 핸들의 테두리를 투명하게 설정 */
  background-clip: padding-box; /* 배경색이 테두리 영역을 넘어서지 않도록 설정 */
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

/* fonts */
/* navbar */

@font-face {
  font-family: "NumberFont";
  src: url("../../public/fonts/HiMelody-Regular.ttf") format("truetype");
  unicode-range: U+0030-0039; /* 숫자 0-9 */
  font-display: block;
}

/* navbar: English */
@font-face {
  font-family: "NavbarFont";
  src: url("../../public/fonts/Caveat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0020-002F, U+003A-007F; /* 숫자를 제외한 기호 및 알파벳 */
  font-display: block;
}
/* navbar: Korean */
@font-face {
  font-family: "NavbarFont";
  src: url("../../public/fonts/HiMelody-Regular.ttf") format("truetype");
  unicode-range: U+AC00-D7AF; /* 가각~힣 */
  font-display: block;
}
/* navbar: Japanese */
@font-face {
  font-family: "NavbarFont";
  src: url("../../public/fonts/Yomogi-Regular.ttf") format("truetype");
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; /* 구두점, 히라가나, 카타카나, 일본어 반각 카타카나, 한자 */
  font-display: block;
}

/* footer */
@font-face {
  font-family: "Caveat";
  src: url("../../public/fonts/Caveat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* github-markdown-css */
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

/* 마크다운 내에서 코드 부분 여백 제거 */
.markdown-body pre {
  padding: 0 !important;
}

/* 마크내운 내에서 이미지 투명 */
.markdown-body img {
  background-color: transparent !important;
}

/* 마크다운 내에서 ol, ul이 tailwind 보다 우선하도록 설정 */
.markdown-body ul {
  list-style: disc !important; /* ul에 대해 disc 스타일 적용 */
}

.markdown-body ol {
  list-style: decimal !important; /* ol에 대해 숫자 스타일 적용 */
}

.dark .markdown-body {
  background-color: transparent; /* Dark background */
  color: #ffffff; /* Light text for dark background */
}

@layer utilities {
  .font-navbar {
    font-family: "NavbarFont", "NumberFont", sans-serif;
  }

  .font-footer {
    font-family: "Caveat", cursive;
  }
}
