---
import "../../styles/globals.css";
import NavbarIsland from "@/components/islands/NavbarIsland";
import Footer from "@/components/organism/Footer";

interface Props {
  title?: string;
  description?: string;
  lang?: string;
}

const {
  title = "mogumogu's blog",
  description = "",
  lang = "en",
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body>
    <NavbarIsland client:only="react" />
    <slot />
    <Footer client:only="react" />
  </body>
</html>
